.season
{
border:2px solid;
border-color:red green blue green;
border-radius:15px 50px 30px;
width:600px;
height:375px;
margin-left:auto;
margin-right:auto;
margin-top:30px;
text-align:center;
color:blue;
}
.season th
{
color:red;
padding-bottom:13px;
padding-top:10px;
text-align:center;
font-size:18px;
}
.season td
{
color:#e0f045;
font-family:Joker;
font-size:18px;
padding-left:5px;
text-align:center;
padding-bottom:17px;
}
.season tr{}

a span { display:none; }
 a:hover span { display:block;
position:fixed;
height:25px;
width:99px;
border:1px solid black;
border-radius:25px;
background-color:red;
opacity:0.9;
}
span{color:white;font-size:12px;padding-top:2px;}
a:hover{font-weight:bold;}
a{text-decoration:none;color:#e0f045;}
body
{
background-color:black;
}
#input
{
height:35px;
width:120px;
margin-top:18px;
}
#inputs
{
height:35px;
width:120px;
margin-top:0.5px;
font-size:13px;
}
#input1
{
height:32px;
width:99px;
margin-top:0.5px;
}
.moveimage
{
position:absolute;
height:358px;
width:327px;
top:290px;
left:20px;
} 
#r

{

text-align:center;

font-family:Forte;

font-size:20px;

color:white;

text-shadow:
    -1px -1px 0 #0650FD,
    1px -1px 0 #0650FD,
    -1px 1px 0 #0650FD,
    1px 1px 0 #0650FD;
margin-left:250px;


margin-top:25px;
}
@media only screen and (min-width: 1200px) {
    #r {
	//background-size:cover; 
        	margin-left:auto; 
        }
}

#social
{
//float:right;
position:absolute;
//display:inline;
list-style-type:none;
margin-left:510px;
}
#contact
{
color:08FAFA;
font-size:15px;
opacity:0.2;
}
#sl
{
display:inline;
}
#fb
{
margin-bottom:-20px;
margin-left:1px;
}
#tweet
{
width:75px;
height:28px;
margin-bottom:-5px;
margin-left:-23px;
}
#insta
{
width:40px;
height:40px;
}
#insta1
{
width:98px;
height:40px;
margin-bottom:-7px;
}
#insta2
{
width:75px;
height:30px;
margin-bottom:-5px;
}
        

